/* template-color */

.handle-preloader{
	background: #330033;
}

.preloader-close{
	color: #330033;
}

.main-header .header-lower .logo-box:before{
	background: #330033;
}

.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a{
  color: #330033;
}

.main-menu .navigation > li > ul,
.main-menu .navigation > li > .megamenu{
	background: #330033;
}

.main-menu .navigation > li > ul > li > ul{
	background: #330033;
}

.main-header .nav-right li.search-toggler:hover,
.main-header .nav-right li.nav-btn:hover{
  background: #330033;
  border-color: #330033;
}

.theme-btn-one{
	background: #330033;
}

.donate-content .donate-option .donate-list :checked+label{
	background: #E04237;
}

.donate-content .payment-option .payment-list :checked+label {
  color: #330033;
}

.donate-content .form-inner .form-group input:focus{
	border-color: #330033 !important;
}

.donate-content .form-inner .form-group .custom-control.material-checkbox .material-control-input:checked ~ .material-control-indicator{
	border: 1px solid #330033;
	background: #330033;
}

.xs-sidebar-group .content-inner .form-inner .form-group input:focus,
.xs-sidebar-group .content-inner .form-inner .form-group textarea:focus{
  border-color: #330033 !important;
}

.banner-carousel .content-box .special-text{
	color: #330033;
}

.banner-section .shape-1{
	background: #330033;
}

.sec-title .sub-title{
	color: #330033;
}

.feature-block-one .inner-box h3 a:hover{
  color: #330033;
}

.progress-box .bar-inner{
	background: #330033;
}

.cause-block-one .inner-box .image-box .image{
	background: #330033;
}

.cause-block-one .inner-box .lower-content h3 a:hover{
  color: #330033;
}

.featured-causes .single-item .inner-box .theme-btn-one:hover{
  color: #330033 !important;
}

.nav-style-one .owl-nav button:hover{
  background: #330033;
  border-color: #330033;
}

.service-block-one .inner-box .icon-box{
	color: #330033;
}

.service-block-one .inner-box h3 a:hover{
  color: #330033;
}

.project-block-one .inner-box .image-box{
	background: #330033;
}

.team-block-one .inner-box .image-box .image{
	background: #330033;
}

.team-block-one .inner-box .lower-content .social-links li a:hover{
  background: #330033;
  border-color: #330033;
}

.team-block-one .inner-box .lower-content h3 a:hover{
  color: #330033;
}
  
.testimonial-section{
	background: #330033;
}

.clients-section{
	background: #330033;
}

.news-block-one .inner-box .image-box{
	background: #330033;
}

.news-block-one .inner-box .lower-content h3 a:hover{
  color: #330033;
}

.theme-btn-two:hover{
	background: #330033;
	border-color: #330033;
}

.news-block-one .inner-box .lower-content .lower-box li a:hover{
  color: #330033;
}

.news-block-one .inner-box .lower-content .lower-box li i{
	color: #330033;
}

.footer-top .social-links li a:hover{
  background: #330033;
}

.main-footer .widget-section a:hover{
  color: #330033;
}

.main-footer .widget-section .contact-widget .info-list li i{
	color: #fff;
}

.footer-bottom a:hover{
  color: #fff;
}

.header-top .top-inner .top-left .social-links li a:hover{
  color: #fff;
}

.header-top .top-inner .info li a:hover{
  color: #fff;
}

.header-top .top-inner .info li i{
	color: #fff;
}

.header-style-two.main-header .nav-right li.search-toggler:hover{
  color: #330033;
}

.header-style-two.main-header .nav-right li.cart-box a:hover{
  color: #330033;
}

.banner-carousel .owl-nav button:hover{
	background: #330033;
}

.service-block-two .inner-box .icon-box{
	color: #330033;
}

.service-block-two .inner-box h3 a:hover{
  color: #330033;
}

.accordion-box .block.active-block{
  background: #330033;
}

.cta-section .inner-box h3{
	color: #330033;
}

.events-block-one .inner-box .content-box .date h2{
	color: #330033;
}

.events-block-one .inner-box .content-box h3 a:hover{
  color: #330033;
}

.events-block-one .inner-box .content-box .lower-box li i{
	color: #330033;
}

.event-section .nav-style-one .owl-nav button:hover{
  background: #330033;
}

.news-block-two .inner-box .image-box{
	background: #330033;
}

.news-block-two .inner-box .lower-content h3 a:hover{
  color: #330033;
}

.news-block-two .inner-box .lower-content .post-info li i{
	color: #330033;
}

.news-block-two .inner-box .lower-content .post-info li a:hover{
  color: #330033;
}

.sidebar-post .news-block-two .inner-box .lower-content .post-date{
	background: #330033;
}

.cta-style-two{
	background: #330033;
}

.cta-style-two .inner-box .theme-btn-one:hover{
  color: #330033 !important;
}

.header-style-three .header-lower .nav-right li.search-toggler:hover{
  color: #330033;
}

.banner-style-three .banner-carousel .theme-btn-one:hover{
  color: #330033 !important;
}

.list-style-one li:before{
	color: #330033;
}

.funfact-section.alternat-2 .funfact-block-one:first-child .inner-box .count-outer{
	color: #330033;
}

.cta-section .theme-btn-one:hover{
  color: #330033 !important;
}

.faq-style-two .accordion-box .block .acc-btn.active .icon-outer{
	color: #330033;
}

.page-title .content-box .bread-crumb li a:hover{
  color: #330033;
}

.team-block-two .inner-box .image-box{
	background: #330033;
}

.team-block-two .inner-box .lower-content h3 a:hover{
  color: #330033;
}

.team-block-two .inner-box .lower-content .social-links li a:hover{
  background: #330033;
  border-color: #330033;
}

.team-details-content .content-box .designation{
	color: #330033;
}

.team-details-content .content-box .info-list li a:hover{
  color: #330033;
}

.team-details-content .content-box .social-links li a:hover{
  background: #330033;
  border-color: #330033;
}

.event-details .sidebar-side .single-widget-box h3{
	background: #330033;
}

.event-details .sidebar-side .single-widget-box .info-list li a:hover{
  color: #330033;
}

.event-details .sidebar-side .single-widget-box .info-list li:last-child a{
  color: #330033;
}

.faq-form-section .form-inner .form-group input:focus,
.faq-form-section .form-inner .form-group textarea:focus{
  border-color: #330033 !important;
}

.gallery-page-section .filters .filter-tabs li.active,
.gallery-page-section .filters .filter-tabs li:hover{
  color: #330033;
}

.error-section .inner-box h1{
	color: #330033;
}

.cause-details-content .content-four .form-group input:focus,
.cause-details-content .content-four .form-group textarea:focus{
	border-color: #330033 !important;
}

.default-sidebar .sidebar-widget .form-group input:focus{
  border-color: #330033 !important;
}

.default-sidebar .category-widget .category-list li a:hover{
  color: #330033;
}

.default-sidebar .category-widget .category-list li a:before{
	color: #330033;
}

.default-sidebar .donate-widget .inner-box .theme-btn-one:hover{
  color: #330033 !important;
}

.default-sidebar .tags-widget .tags-list li a:hover{
  background: #330033;
}

.shop-sidebar .search-widget form .form-group input:focus + button,
.shop-sidebar .search-widget form .form-group button:hover{
	color: #330033;
}

.shop-sidebar .category-widget .category-list li a:hover{
	color: #330033;
}

.shop-sidebar .category-widget .category-list li a:hover:before{
  color: #330033;
}

.range-slider .ui-slider .ui-slider-range{
	background: #330033;
}

.range-slider .ui-state-default,
.range-slider .ui-widget-content .ui-state-default{
	background: #330033;
}

.shop-block-one .inner-box .image-box .info li a:hover{
  background: #330033;
}

.shop-block-one .inner-box .lower-content h4 a:hover{
  color: #330033;
}

.pagination li a:hover,
.pagination li a.current{
	background: #330033;
	border-color: #330033;
}

.shop-details-content .content-box .rating-box .review a:hover{
  color: #330033;
}

.shop-details-content .addto-cart-box .like-box a:hover{
  background: #330033;
	border-color: #330033;
}

.shop-details-content .other-option li a:hover{
  color: #330033;
}

.shop-details .product-discription .tab-btn-box .tab-btns li.active-btn{
	color: #330033;
}

.default-form input:focus,
.default-form textarea:focus{
	border-color: #330033 !important;
}

.cart-section .cart-table tbody tr .prod-column .column-box .remove-btn:hover{
  background: #330033;
  border-color: #330033;
}

.cart-section .othre-content .coupon-box input:focus{
	border-color: #330033 !important;
}

.cart-section .cart-total .total-cart-box .list li:last-child span{
  color: #330033;
}

.checkout-section .upper-box .single-box a{
  color: #330033;
}

.checkout-section .billing-form .form-group input[type='text']:focus,
.checkout-section .billing-form .form-group input[type='email']:focus{
	border-color: #330033 !important;
}

.checkout-section .additional-info .note-book textarea:focus{
  border-color: #330033 !important;
}

.checkout-section .order-info .order-list li.order-total span{
	color: #330033;
}

.checkout-section .payment-info .payment-inner .custom-controls-stacked .description a:hover{
	color: #330033;
}

.blog-sidebar .post-inner .post .post-thumb{
	background: #330033;
}

.blog-sidebar .post-widget .post h5 a:hover{
  color: #330033;
}

.page-title-two .post-info li a:hover{
  color: #330033;
}

.blog-details-content .post-tags .tags li a:hover{
  color: #330033;
}

.blog-details-content .author-box .designation{
	color: #330033;
}

.blog-details-content .comments-form-area form .form-group input:focus,
.blog-details-content .comments-form-area form .form-group textarea:focus{
  border-color: #330033 !important;
}

.contact-section .form-inner form .form-group input:focus,
.contact-section .form-inner form .form-group textarea:focus{
	border-color: #330033 !important;
}